* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 100vh;
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 38vw;
  color: white;
  font-family: monospace;
  font-size: 2vw;
  text-align: center;
}
    
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.start {
  position: absolute;
  background-color: #7F2ABE;
  color: white;
  font-size: 2vw;
  text-shadow: 2px 2px 10px #7F2ABE, -2px -2px 10px #7F2ABE;
  font-family: "Noto Sans JP", sans-serif;
  padding: 10px 20px;
  border: 2px solid rgba(163, 3, 255, 0.9);
  border-radius: 35px;
  transition: box-shadow 0.3s ease;
}

.start:hover {
  box-shadow: 0 0 60px rgba(163, 3, 255, 0.9);
}

.footer {
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  text-align: center; 
  font-family: 'Noto Sans JP', sans-serif; 
  font-size: 0.6em; 
  color: white;
  padding: 10px;
}
